@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model System.Web.Mvc.HandleErrorInfo
           
<div style="margin-top:10em;float:left;padding-left:10em;padding-right:4em">
    <img src="@Url.Content("~/Content/themes/base/images/Symbol-Error.png")" style="width:15em;height:15em" alt="" /></div>
<div style="margin-top:11em;float:left;font-size:14px">
        @Model.Exception.Message
</div>



