<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--Ruta para registrar el log en caso de errores-->
        <add key="RutaLog" value="C:\logSalesOrder.txt"/>
        <!--Intervalo de lanzamiento de ordenes de servicio-->
        <add key="Intervalo" value="50000"/>
        <!--Lanza solo las ordenes de servicio con estado C-->
        <add key="EstadoOrden" value="C"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWS_SalesOrder" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://colbogas3.sa.praxair.com/Servicios/WS_SalesOrder/WS_SalesOrder.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWS_SalesOrder"
                contract="ServicioSalesOrder.IWS_SalesOrder" name="BasicHttpBinding_IWS_SalesOrder" />
        </client>
    </system.serviceModel>
</configuration>
